<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag 'clients' %>
</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-md-8" id="privacy-policy">
          <div class="textstyle-privacy"><br>
            <br><h2>Review Maiden Inc. Privacy Policy</h2><br>
            <br><p class="paragraph">Last Revised: May 26, 2017</p><br>
            <!-- <hr> -->
            <p>This page provides our policies and procedures for collecting, using and disclosing your information and outlines the security measures we’ve put in place to protect the information that you store using Review Maiden Inc’s services, including the services made available through the website (the “Site”), and any other software or services offered by Review Maiden Inc. in connection with such services (the “Services”). By using these services, you consent to the collection, transfer, processing, storage, disclosure and other uses of your information described in this Privacy Policy. By visiting or accessing <a href="http://www.reviewmaiden.com/" style="color: #08c; text-decoration: underline">www.ReviewMaiden.com</a> or any of its related applications, dashboards, or platforms (individually and collectively, the “Services”), or by signing up for any service or purchasing any products (“Products”) from Review Maiden Inc, you are agreeing to the following privacy policy (“Privacy Policy”), which together with the <a href="https://www.reviewmaiden.com/terms-and-conditions" style="color: #08c;text-decoration: underline">Terms and Conditions</a>, govern your use of the Site, the Services, and the Products. Terms used in this Privacy Policy have the same meaning as those set forth in the Terms and Conditions, unless otherwise specified. The Term “You” in this Agreement means any person or entity who accesses the Site, uses the Services, or purchases any of the Products.
            </p>

            <p><strong>Privacy Policy</strong></p>
              <p>The Privacy Policy governs how we use the information you provide to us in  connection with the Site, the Services, and the Products. Therefore, it 
                is critical that you review and understand this Privacy Policy. We may 
                change this Privacy Policy periodically and will notify you by posting 
                the updates on the Site. You should review this Privacy Policy 
                periodically, as your use of the Site indicates your continuing 
                acceptance of the provisions current at the time of your use.
              </p><br>
            <p><strong>Information Collected &amp; Stored by Review Maiden Inc.</strong></p>

              <ol start="1">
                <li>Personal Information</li>
              </ol>

              <ul>
                <li>When expressing an interest in obtaining additional information about Services or registering to use the Services, Review Maiden Inc. requires you to provide your personal contact information, such as your name, company name, address, phone number, and email address (these are referred to below as your “Personal Contact Information”). When purchasing the Services, Review Maiden Inc. also requires you to provide financial and billing information, such as billing name, address and credit card number (“Billing Information”).</li>

                <li>You agree to acknowledge that no system can guarantee to be 100% secure all the time.Review Maiden Inc. takes precautions to protect all of your Personal Contact Information to avoid breaches in security. We will disclose any information that is required by law in the event we discover any breach of security of your Personal Contact Information, including notifying you via email or posting on the Site without unreasonable delay.</li>
              </ul>

              <ol start="2">
                <li>Data, Diagnostics &amp; Login Information</li>
              </ol>

              <ul>
                <li>Using Review Maiden Inc’s Services, you will be able to create, upload, store and share information such as but not limited to company description, email IDs, usernames, logos, photos and social media handles. (this is collectively referred to below as “Data”). This information will be stored and maintained on Review Maiden Inc’s Site and Services. If you run into technical errors while using the Services, Review Maiden Inc. may request your permission to obtain a crash report along with certain logging information from your computer system documenting the error (“Diagnostic Information”). Such information may contain information regarding your Operating System, system hardware, browser version, email address and username. Additionally, certain login information is maintained in a cookie stored locally on your computer (i.e. not on a server) in order to streamline the login process (“Login Information).</li>
              </ul>

              <ol start="3">
                <li>Analytics Information</li>
              </ol>

              <ul>
                <li data-new-link="true">As you navigate Review Maiden Inc’s Site and use our Services, Review Maiden Inc. may also collect information through the use of information-gathering tools, such as cookies, Site trackers and Web beacons (“Website Navigational Information”). Website Navigational Information includes standard information from your web browser (such as browser type and browser language), your Internet Protocol (“IP”) address, and the actions you take on Review Maiden Inc’s Site (such as Site pages viewed, date/time of visit(s) and links clicked).Collectively, this information is referred to as “Analytics Information”. Those items are, by their nature, intended for public use,
                and they are governed by the license you grant in our <a href="https://www.reviewmaiden.com/terms-and-conditions" style="color: #08c; text-decoration: underline">Terms and Conditions</a>.</li>
              </ul>

              <ol start="4">
                <li>Third Party Applications and Your Use</li>
              </ol>

              <ul>
                <li>Review Maiden Inc. provides users with the ability to link their Data on Third
                Party sites such as Facebook, Twitter and LinkedIn and others. Such 
                linking is at the complete discretion of Review Maiden Inc. users. 
                Because of this, Review Maiden Inc. cannot be held responsible or liable
                for the linking of user’s Data to such Third Party sites, nor for how 
                these Third Party sites use such links.</li>
              </ul>

              <ol start="5">
                <li>Marketing and Publicity </li>
              </ol>

              <ul>
                <li>Per our Terms and Conditions, you agree to permit Review Maiden, Inc. to 
                identify you as a customer and to use your name and or logo in Review 
                Maiden Inc’s website and marketing materials. </li>
              </ul>

              <ol start="6">
                <li>Unsubscribing </li>
              </ol>

              <ul>
                <li>If you wish us to stop sending offers and promotions to you, you may unsubscribe at any time by clicking unsubscribe on digital material or contacting <a href="mailto:marketing@reviewmaiden.com" style="color: #08c;text-decoration: underline" >marketing@reviewmaiden.com</a></li>
              </ul>

              <ol start="7">
                <li>Sale of Personally Identifiable Information</li>
              </ol>

              <ul>
                <li>Review Maiden Inc. does not sell, rent, or trade your personally identifiable information to any third parties in any way.</li>
              </ul>

              <ol start="8">
                <li>Service Providers and Business Partners</li>
              </ol>

              <ul>
                <li>Review
                Maiden Inc. may use certain trusted Third Party companies and 
                individuals to help us provide, analyze, and improve the Services 
                (including, but not limited to, data storage, maintenance service, 
                database management, web analytics, payment processing, and overall 
                improvement of the Services features). These Third Party companies may 
                have access to your information strictly for the purposes of performing 
                these tasks on our behalf and will be under obligations similar to those
                in this Privacy and Security Policy. &nbsp;</li>
              </ul>

              <ol start="9">
                <li>Non-Private or Non-Personal Information</li>
              </ol>

              <ul>
                <li>We may disclose your non-private, aggregated, or otherwise non-personal 
                information, such as usage statistics of our Services at our discretion.
                </li>
              </ul>

              <ol start="10">
                <li>Community Features</li>
              </ol>

              <ul>
                <li>The Site may provide, at its sole discretion, one or more sharing features, review submission features, chat areas, message boards, e-mail functions, messaging services, file communities, polls, surveys, and other services (collectively called, the “Community Features”). We provide these Community Features subject to the Terms of Use, and the community guidelines as set forth below. Any user who posts content in the Community Features (“Community Content”) is responsible for the reliability, accuracy and truthfulness of such Community Content, and we have no control over the such posted content. In addition, we have no control over whether any such posted material is of a nature that users will find offensive, distasteful or otherwise unacceptable and we expressly disclaim any responsibility for such material. By using any of the Community Features, you acknowledge and agree that information you post or otherwise make public will be available to the public.</li>

                <li>We will provide these Community Features and you agree that if you publicly disclose information about yourself online in any Review Maiden Inc. Community Feature(s), that information you post could be collected and used by anyone on the Internet. We bear no responsibility for any action or policies of any third parties who collect any information in any way that users may disclose in Community Features or other public areas, if any, of this Site.</li>

                <li>In consideration of your use of the Site’s Community Features and functionality, you agree to comply with the Community Guidelines set forth below. Users who violate any parts of the Community Guidelines, may, in our sole discretion, be permanently banned from using the Site.</li>
              </ul>

              <ol start="11">
                <li>Community Guidelines</li>
              </ol>

              <ul>
                <li>Entering any Community Feature will constitute acceptance of the Community 
                Guidelines. If you do not agree to abide by the Community Guidelines, 
                you should now not enter any of the Community Features. You are entirely
                 responsible and liable for all activities conducted by you within the 
                Community Features, including the transmission, posting, or other 
                provision of Community Content to any portion of the Community Features.
                 Features on a temporary or permanent basis, as determined by us in our 
                sole discretion. You agree not to do any of the following actions while 
                using any of the Community Features:</li>
              </ul>

              <ul>
                <p>i. Violate these Community Guidelines or abuse the community purpose of the chat areas in any way whatsoever. </p>
              </ul>
              <ul>
                <p>ii. Participate in any part of the Site if you are under the age of 18.</p>
                </ul>
              <ul>
                <p>iii. Use of profanity, obscenities, derogatory language.</p>
              </ul>
              <ul>
                <ol start="1">
                  <li>This includes the use of **asterisks** or other “masking” characters to disguise the use of profanity, obscenities and/or derogatory language.</li>
                </ol>
              </ul>
              <ul>
                <p>iv. Use obscene, lewd, slanderous, scandalous, pornographic, abusive, 
              violent, insulting, indecent, threatening and/or harassing imagery of 
              any kind.</p>
              </ul>
              <ul>
                <p>v. Impersonate other users or anyone other than yourself or the company or companies you represent.</p>
              </ul>
              <ul>
                <p>vi. Post topics on message boards, the Site or within any of the Community 
              Features that are unrelated to the subject of the Site.</p>
              </ul>
              <ul>
                <p>vii. Advertise or promote other companies or URL’s </p>
              </ul>
              <ul>
                <p>viii. Include any advertisement or promotion of any kind in any of the communications you post on the Community Features.</p>
              </ul>
              <ul>
                <p>ix. Post material that is copyrighted, protected by trade secret or 
              otherwise subject to third party proprietary rights, including privacy 
              and publicity rights, unless you are the owner of such rights or have 
              permission from their rightful owner to post the material and grant us 
              all of the license rights granted herein. </p>
              </ul>
              <ul>
                <p>x. Include advance fonts, java, tables, html, or other programming codes or commands in messages.</p>
              </ul>
              <ul>
                <p>xi. Distribute or otherwise publish any Community Content containing any 
              solicitation of funds, promotions, advertising, or solicitation for 
              goods or services. You also hereby acknowledge that you are prohibited 
              from soliciting other guest to join or become members of any commercial 
              online service or other organization.</p>
              </ul>
              <ul>
                <p>xii. Collect, harvest or 
              web scrape any information of any user or access the Site using 
              automated means (including by not limited to, harvesting bots, robots, 
              spiders, scripts or web scrapers).</p>
              </ul>
              <p><strong>Our Use and Disclosure of Information</strong></p>
              <ol>
                <li>Review Maiden Inc. will not disclose any personally identifiable information 
              about any individual except as set forth in this Privacy Policy. This 
              applies to information about our customers and information our customers
               provide to us about their customers. We are not limited in any way in 
              our use of non-personal information and that does not permit any direct 
              association with any specific individual or non-identifiable aggregate 
              information about our users (such as the number of customers who use our
               services, the geographic distribution of our users, the amount of 
              information located and/or removed, etc.).</li></ol>

              <p><strong>Cooperation with Authorities</strong></p>
                <ol>
                  <li>Review Maiden Inc. complies with all applicable laws and regulations. This may
                  require cooperation with governmental authorities with respect to 
                  information we receive from you.If we believe it is necessary, in our 
                  sole discretion, to disclose information about you to law enforcement 
                  officials or in connection with a court proceeding, you hereby consent 
                  to such disclosure. In addition, if we believe a disclosure of such 
                  information is necessary to protect our property and rights, to protect 
                  public safety, or to prevent potentially illegal or unethical conduct we
                   may disclose certain information, and you consent to such disclosure. 
                  If you reside outside the United States, your local laws may afford a 
                  higher degree of protection of your Personal Information than provided 
                  under United States law. However, your use of the Site constitutes your 
                  consent to have your Personal Information transferred to, collected by, 
                  and processed by servers in the United States.</li>
                </ol>

                <p><strong>Internal Uses of Your Personally Identifiable Information</strong></p>
                  <ol>
                    <li>We collect, store and process your personally identifiable information on servers located in the United States. Due to the unpredictable nature of Internet routing, your information may pass through other countries while in transit to our servers. We use the information we collect about you in order to:</li>
                  </ol>
                <ul>
                  <li>Develop and deliver our services</li>
                  <li>Process your transactions</li>
                  <li>Provide customer service and manage your account</li>
                  <li>Improve our products, services and marketing</li>
                </ul>
                <ol start="2">
                  <li>We provide access to personally identifiable information about our users only to those who require it for the above purposes.</li>
                  <li>Review Maiden Inc. will not sell or rent any of your personally identifiable information to third parties. Review Maiden Inc. will not share any of your personally identifiable information to third parties except in the limited circumstances described below:</li>
                </ol>
                <ul>
                  <li>We share 
                  information with services provided under contract who help with our 
                  business operations such as payment and order processing, fraud 
                  investigation, bill collection as well as information management and 
                  analytics. If content generation is included in your services, we may 
                  share information with service providers under contract to create, edit 
                  and/or publish such content. These third parties are obligated to 
                  protect your information and contractually prohibit the use of your 
                  personally identifiable information for any other purpose than the 
                  services provided. They are never permitted to share your information 
                  with any third parties. They are authorized to use your personal 
                  information only as necessary to provide these services to Review Maiden
                   Inc.</li>
                  <li>We may internally use your Personal Information to improvethe Site,to improve your experience as you use the Site, to customize and/or communicate information and/or product offerings and/or promotions to you, and to make our Services more helpful and useful to other users. We may use the services of a third party to perform these functions. In addition, we may allow ad-exchanges, web analytics vendors, social networking platforms and other third parties to collect certain data and other non-personally identifiable information when you 
                  visit our Site. These companies may use non-personally identifiable 
                  information during your visits to this and other websites in order to 
                  provide advertisements about goods and services likely to be of interest
                   to you. These companies may use a cookie or web beacon to collect this 
                  information.</li>

                  <li>We disclose information that we, in good faith,believe is appropriate to cooperate in investigations of fraud or other illegal activity, to conduct investigations of violations of our Terms of Use and/or to protect our rights, protect your safety and the safety of others. Examples of investigations into fraud are to be made under the discretion of Review Maiden Inc.</li>

                  <li>We disclose information in response to a subpoena, warrant, court order, levy, attachment, order of a court-appointed receiver or other comparable legal process,including subpoenas from private parties in a civil action. If the subpoena seeks information about an identified subscriber or limited group of subscribers, we will make reasonable business efforts to 
                  contact the subscriber(s) before providing information to the party that
                   requests it. We cannot guarantee that we will be able to do so in all 
                  cases, whether due to a time limit, court order, inability to 
                  effectively contact a subscriber, or other circumstances.</li>

                  <li>Information can be shared when a user signs up for a co-branded version of our service through links to <a href="http://www.reviewmaiden.com/" style="color: #08c; text-decoration: underline">www.ReviewMaiden.com</a>, from our co-branded partner(s), a user's name, e-mail address and/or physical address in order to provide enhanced integration between Review Maiden Inc. and our co-branded partner(s) or any of the aforementioned.
                  </li>

                  <li>We disclose information to your agent or legal representative (such as the holder of a power of attorney that you grant, or a guardian
                  appointed for you.</li>

                  <li>We share information with contracted third
                   party companies that provide public relations and marketing services 
                  for us. Such information will only be shared by us to customize, measure
                   and improve our products, services, Site and advertising. It will not 
                  be shared with any third parties for their marketing purposes. These 
                  third parties are contractually obligated to protect your information 
                  and are prohibited from using your personally identifiable information 
                  for any other purpose.</li>

                  <li>As with any other business, it is 
                  possible that in the future, Review Maiden Inc. could merge with or be 
                  acquired by another company. If such an acquisition occurs, the 
                  successor company would have access to the information maintained by 
                  Review Maiden Inc., including customer account information, but would 
                  continue to be bound by this Privacy Policy until it is amended. </li>

                  <li>We share your information with our subsidiaries and joint ventures to help
                  coordinate the Site and services we provide to you, enforce our Terms 
                  and Conditions, and promote trust and safety.</li>

                  <li>The implementation of our Site and Services, by its very nature, may require using your personally identifiable information to locate other 
                  information about you. Such use may include, but shall not be limited 
                  to, using your information to search the publicly accessible websites as
                  well as searching private information databases and websites.</li>

                  <li>The implementation of our Services, by its very nature, may require 
                  revealing your personally identifiable information in order to effect 
                  removal of Internet content about you. Revealing your personally 
                  identifiable information in order to effect removal of Internet content 
                  about you is to remain at the reasonable discretion of Review Maiden 
                  Inc.</li>
                </ul>
                <ol start="4">
                  <li>We will retain your information for as long as your account is active or as needed to provide you the Site and/or Services. If you wish to cancel your account or request that we no longer use your information to provide you the Site and/or Services,you may delete your account (this will be done by Review Maiden Inc’s customer support team). If you request to delete your account, your Data will no longer be stored in our servers. While we try to delete your Data from our servers as quickly as possible, please be aware that there may be a delay from the time your delete your account to the time that your Data is removed, and that some of your Data may continue to exist for a period of time in backup copies.</li>
                </ol>

                <p><strong>Changes to Privacy Statement</strong></p>
                <ol>
                  <li>If we decide to make material changes to our Privacy Policy, we will 
                    notify you by e-mail through the primary e-mail address specified in 
                    your account and/or post those changes to this privacy statement on the 
                    Site homepage prior to the changes taking effect. You are responsible 
                    for ensuring we have an up-to-date, active and deliverable e-mail 
                    address for you.</li>

                  <li>You are also responsible for regularly 
                  reviewing the Privacy Statement and related documents. We reserve the 
                  right to modify this Privacy Statement at any time. No amendment to or 
                  modification of this Statement will be binding unless in writing and 
                  signed by a duly authorized representative of Review Maiden, Inc., or 
                  posted to the Site by a duly authorized representative of Review Maiden,Inc.</li>

                  <li>In the event that Review Maiden Inc. goes through a 
                  business transition, such as a merger, an acquisition by another 
                  company, or a sale of a portion of its assets, users’ personally 
                  identifiable information will, in most instances, be part of the assets 
                  transferred. Users will be notified via a prominent notice on the Site 
                  for 45-days after a change of ownership or control of their personally 
                  identifiable information. If, as a result of the business transition, a 
                  user's personally identifiable information will be used in a manner 
                  different from that stated the time of collection, users will be given a
                  choice and notified consistent with our notification of changes in 
                  materials section.</li>

                  <li data-new-link="true">If you have any questions about the Privacy Policy, please contact Review Maiden Inc. at <a href="mailto:info@reviewmaiden.com" style="color: #08c; text-decoration: underline">info@reviewmaiden.com</a></li>
                </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-md-8">
          <center>
            <button class="btn btn-default"onclick="goBack()" style="margin-top: 7%;">Close</button>
          </center>
        </div>
      </div>
    </div>
    </br>  
    <script>
      function goBack() {
      window.history.back()
      }
    </script>
  </body>
</html>