<!DOCTYPE html>
<html>
  <style type="text/css">
    .textstyle
    {
      color: white;
    }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-md-8">
          <div class="textstyle">
            <h2><center>FAQ</center></h2>
            <hr>
            <h4> 1.How Often Should I Practice?</h4>
            <p>A user review refers to a review written by a user or consumer for a product or a service based on her experience as a user of the reviewed product. Popular sources for consumer reviews are e-commerce sites like Amazon.com or Zappos, and social media sites like TripAdvisor and Yelp. E-commerce sites often have consumer reviews for products and sellers separately. Usually, consumer reviews are in the form of several lines of texts accompanied by a numerical rating.</p>
            <h4> 2.What Equipment Will I Need?</h4>
            <p>Reviews of live music performances are typically short articles that tell readers about the performers or group(s) that were involved and the pieces or songs that were performed. The comments made by reviewers fall, roughly into two categories: technical comments and subjective/artistic comments. The elements in the "technical" category include rhythmic "togetherness", intonation, errors or slip-ups, and so on. These elements are fairly "black and white"; a pianist playing a concerto either played the right notes on a climactic scale run, or she missed it. The subjective comments refer to elements which are a matter of taste.</p>
            <h4> 3.How About the reviews?</h4>
            <p>A bought review is the system where the creator (usually a company) of a new product pays a reviewer to review his new product. Primarily used in the car, movie, and game industry this system creates a kind of undercover advertising. Bought reviews tend to be biased due to the informative value of reviews. In some cases, a bought review may be independent, if the person that is hired to do the review has a strong reputation for independence and integrity. </p>
            <h4> 4.How Can I Achieve It?</h4>
            <p>Consumer reviews online have become a major factor in business reputation and brand image due to the popularity of TripAdvisor, Yelp, and online review websites. A negative review can damage the reputation of a business and this has created a new industry of reputation management where companies attempt to remove or hide bad reviews so that more favourable content is found when potential customers do research.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-md-8">
          <center><button  class="btn btn-default"onclick="goBack()" style="margin-top: 30%;">Go Back</button></center>
        </div>
      </div>
    </div>
    </br>  
    <script>
      function goBack() {
      window.history.back()
      }
    </script>
  </body>
</html>
          
  


